.dropdown-folder-set-path {
	
}
.dropdown-folder-set-path .dropdown-menu {
	min-width: 260px;
	padding-bottom: 2px;
}
.dropdown-folder-set-path .input-hold-folder-path {
	margin-bottom: 8px;
}
.dropdown-folder-set-path .btn-group-folders .btn,
.dropdown-folder-set-path .input-hold-folder-path .form-control {
	--bs-btn-border-color: rgba(31, 35, 40, .06);
	--bs-btn-hover-border-color: rgba(31, 35, 40, .06);
	--bs-btn-hover-color: var(--bs-link-color);
}
.dropdown-folder-set-path .input-hold-folder-path .form-control {
	font-size: 12px;
	font-weight: 600;
	min-height: 35px;
	color: var(--bs-link-color);
	border-color: var(--bs-btn-border-color);
	padding-left: 15px;
}
.dropdown-folder-set-path .input-hold-folder-path .btn-edit {
	margin: 0;
	font-size: 12px;
}
.dropdown-folder-set-path .btn-group-folders {
	
}
.dropdown-folder-set-path .btn-group-folders .btn {
	--bs-btn-padding-x: 12px;
    --bs-btn-padding-y: 7px;
    --bs-btn-font-size: 13px;
    justify-content: flex-start;
    transition: .24s ease;
}
.dropdown-folder-set-path .btn-group-folders .btn-home {

}
.dropdown-folder-set-path .btn-group-folders .btn-home .icon {
	opacity: .7;
}
.dropdown-folder-set-path .btn-group-folders .btn {

}
.dropdown-folder-set-path .btn-group-folders .btn > .icon:first-child {
	margin-right: var(--icon-margin-md);
}
.dropdown-folder-set-path .btn-group-folders .btn:last-child {
	margin-bottom: 8px;
}
.dropdown-folder-set-path .btn-group-folders .btn .icon-arrow {
	font-size: 92%;
	top: .3px;
	color: var(--bs-gray-500);
}
.dropdown-folder-set-path .btn-group-folders .btn:hover {
	padding-left: 16px;
}
